        /* Site wide styles */
          *  {
            font-family: 'Aldrich', sans-serif;
            padding: 0;
            margin: 0;
          }
          
          p  {
            font-weight: 900;
          }

        /* webpage background image */
          body#background {
            background: url('C:/Users/curre/Pictures/Saved Pictures/laptop_project1.jpg')
            no-repeat 50% 50% fixed;
            background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
          }


        /* Top right clickable text*/
          .hobbies li:hover > a {
            color: rgb(255, 0, 0);
            transition: all .5s;
            list-style: none;
          }

        /* styles for my name in top left corner. */
          .name a {
            text-align: left;
            float: left;
            margin: 10px;
            position: relative;
            top: 10px;
          }


          a {
            color: white;
          }

        /* navbar styles at head of page */
          .navbar {
            border: black 2px solid;
            background-color: black;
            text-align: right;
            padding: 5px 17px 5px 5px;
            width: 98%;
          }

          li {
            list-style: none;
            display: inline;
            margin: 10px;
          }

          a {
            text-decoration: none;
          }
        
        /* profile img */
          .profile-image:hover {
            border: black 4px solid;
            border-radius: 50%;
            transform: scale(1.1) rotate(2deg);
          }

          .profile-image {
            border-radius: 50%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            border: black 2px solid;
            margin-top: 30px;
          }


        /* introduction text */
        .intro {
            text-align: center;
            text-shadow: 2px 2px 7px #111111;
            color: white;
          }

        /* Background Paragraph */
        .Background {
            border: black 3px solid;
            width: 550px;
            height: 300px;
            background-color: white;
            padding: 35px;
            border-radius: 10px;
            display: inline-block;
            text-align: center;
            opacity: .8;
            box-shadow: 5px 5px 5px #777777;
            margin: 45px 30px 45px 30px;
          }

        .Background p h2 {
            opacity: 1;
          }

        /* Pictures inside Background Paragraph */
        .Georgia img {
            display: inline-block;
            margin: 8px 8px 8px 8px;
            position: relative;
            margin-right: 400px;
            margin-left: 75px;
            top: 110px;
            margin-top: -150px;
          }

        .baker img {
            display: inline-block;
            margin: 8px 8px 8px 8px;
            margin-right: 10px;
            top: 50px;
            margin-top: -5px;
          }

        .realtor_logo img {
            display: inline-block;
            margin: 8px 8px 8px 8px;
            margin-left: 275px;
            margin-top: -250px;
            margin-bottom: 27px;
          }
            
        /* Goals Paragraph */
        .Goals {
            border: black 3px solid;
            width: 600px;
            height: 350px;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            float: right;
            text-align: center;
            opacity: .8;
            box-shadow: 5px 5px 5px #777777;
            margin: 45px 10px 45px 10px;
          }

        .Goals p h2 {
            opacity: 1;
          }

        /* Code buttons inside Goals paragraph */
        .html {
            border: solid 1px black;
            background-color: rgb(179, 230, 255);
            width: 50px;
            border-radius: 12px;
            padding: 2px;
            margin: 8px 8px 8px 8px;
            display: inline;
            }

        .css {
            border: solid 1px black;
            background-color: rgb(255, 153, 51);
            width: 50px;
            border-radius: 12px;
            padding: 2px;
            margin: 8px;
            display: inline;
            }
  
        .javascript {
            border: solid 1px black;
            background-color: rgb(179, 230, 255);
            width: 105px;
            border-radius: 12px;
            padding: 2px;
            margin: 8px;
            display: inline;
            }

        /* Icons Twitter and GitHub */
        .icon1 {
            display: inline-block;
            height: 75px;
            border-radius: 50%;
            margin-right: 625px;
            margin-left: 585px;
            opacity: .8;
            transition: all .8s;
            position: relative;
            top: 80px;
            }

        .icon1:hover {
            opacity: 1;
            transition: all .8s;
            }

        .icon2 {
            display: inline-block;
            margin-right: 300px;
            margin-left: 685px;
            height: 75px;
            border-radius: 50%;
            opacity: .8;
            transition: all .8s;
            }

        .icon2:hover {
            opacity: 1;
            transition: all .8s;
            }

        /* footer of page */
        footer {
            text-align: center;
            }