    /* Site wide styles */
    * {
      font-family: 'Aldrich', sans-serif;
      padding: 0;
      margin: 0;
    }
    
    p {
      font-weight: 900;
    }

    h2 {
      text-align: center;
    }


    /* webpage background image */
    body#background {
      background: url("images/laptop-project1.jpg")
      no-repeat 50% 50% fixed;
      background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
    }


    /* Top right clickable text */
    ul li a:hover, ul li a:focus {
      color: rgb(255, 0, 0);
      transition: all .5s;
      list-style: none;
    }

    /* styles for my name in top left corner. */
    .name a {
      text-align: left;
      float: left;
      margin: 10px;
      position: relative;
      bottom: 10px;
      color: white;
    }
    
    .name a:hover {
      color: white;
    }

    a {
      color: white;
    }

    /* navbar styles at head of page */
    .navbar {
      border: black 2px solid;
      background-color: black;
      text-align: right;
      padding: 5px 17px 5px 5px;
      width: 98%;
    }

    li {
      list-style: none;
      display: inline;
      margin: 10px;
    }

    a {
      text-decoration: none;
    }

    /* Background Paragraph */
    .hobbys {
      border: black 3px solid;
      width: 550px;
      height: 403px;
      background-color: white;
      padding: 35px;
      border-radius: 10px;
      display: inline-block;
      text-align: center;
      opacity: .8;
      box-shadow: 5px 5px 5px #777777;
      margin: 45px 30px 45px 30px;
      margin-top: 100px;
      margin-right: 800px;
    }

    /* Goals Paragraph */
    .hobbys2 {
      border: black 3px solid;
      width: 550px;
      height: 435px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      display: inline-block;
      float: right;
      text-align: center;
      opacity: .8;
      box-shadow: 5px 5px 5px #777777;
      margin: 45px 10px 45px 10px;
      margin-top: -525px;
    }

    /* footer of page */
    footer {
      text-align: center;
      margin-left: 550px;
      position: fixed;
      bottom: 0;
    }